<main>
	<div class="d-flex" [ngClass]="toggleStatus ? 'toggled' : ''" id="wrapper">

		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">Sidebar Header </div>
			<div class="list-group list-group-flush">
				<a routerLink="/" href="#" class="list-group-item list-group-item-action bg-light">Home</a>
				<a routerLink="/bar-chart" href="#" class="list-group-item list-group-item-action bg-light">Bar Chart</a>
				<a routerLink="/pie-chart" href="#" class="list-group-item list-group-item-action bg-light">Pie Chart</a>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<button class="btn btn-primary" id="menu-toggle" (click)="menuToggle()">Toggle Sidebar</button>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<a class="nav-link" routerLink="/" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" routerLink="/bar-chart" href="#">Bar Chart</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" routerLink="/pie-chart" href="#">Pie Chart</a>
						</li>
						<li class="nav-item dropdown">
							<!-- ThAW 2019-07-16 : CSS for this li: display: list-item; -->
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dropdown
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" routerLink="/" href="#">Home</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" routerLink="/bar-chart" href="#">Bar Chart</a>
								<a class="dropdown-item" routerLink="/pie-chart" href="#">Pie Chart</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<!-- router-outlet : The Othello, pie chart, etc. components will appear here: -->
			<router-outlet></router-outlet>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->
</main>
