<main>
	<div class="centre">
		<h1 class="mt-4">Othello</h1>
		<br />

		<div class="text" *ngIf="showMessage">
			<audio src="assets/chime.mp3" autoplay></audio>
			<mat-label>{{message}}</mat-label>
			<br />
		</div>

		<button mat-raised-button color="primary" (click)="onClickOneAutomove()">One automove</button>
		<button mat-raised-button color="primary" (click)="onClickNewGame()">New game</button>
		<br />

		<mat-label>White: pop {{whitePopulation}};&nbsp;</mat-label>
		<mat-checkbox color="primary" [(ngModel)]="automaticMove.White">automove</mat-checkbox>

		<mat-label>&nbsp;&nbsp; Black: pop {{blackPopulation}};&nbsp;</mat-label>
		<mat-checkbox color="primary" [(ngModel)]="automaticMove.Black">automove</mat-checkbox>
		<br />

		<canvas #canvas width="400" height="400" (click)="onClickCanvas($event)"></canvas>
		<br />

		<mat-form-field appearance="fill">
			<mat-label>White ply</mat-label>
			<mat-select [(ngModel)]="playerPly.White">
				<mat-option *ngFor="let ply of optionsInPlyDDL" [value]="ply">
					{{ ply }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Black ply</mat-label>
			<mat-select [(ngModel)]="playerPly.Black">
				<mat-option *ngFor="let ply of optionsInPlyDDL" [value]="ply">
					{{ ply }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</main>
