body {
	overflow-x: hidden;
}

button {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

table {
    margin-left: auto;          /* This line and the next are from http://www.granneman.com/webdev/coding/css/centertables/ ; they centre the table. */
    margin-right: auto;
    border-collapse: collapse;  /* Or border-spacing: 0px; this helps to eliminate space in the table. */
}

td {
	width: 50px;
	height: 50px;
}

tr, td {
	padding: 0;
	margin: 0;
}

table img, table canvas {
	display: block;             /* To eliminate space below the image.  See http://www.loriswebs.com/html-tips/form-button.html . */
}
